---
layout: default
---

{% include nav.html %}

<article class="editorNote centerBlock">
  <h1>
    a note from<br/> the editors
  </h1>
  <h3>
    Apurv Rayate & Sarah Nichols
  </h3>
  <p>
    We all pay an unobservable price for using the internet. Aptly named a web, the hundreds of websites we browse on it everyday extract this price from us; from something as innocuous as our favorite color and shopping list to more serious and supposedly private information like our credit card information and our current GPS location. These data points are pieces of us that get stuck on this web; the more we use it, the more we are entangled in it, the more data we leave behind. Unfortunately, this living record of our online activity can become an accurate delegate for our desires and wants and is often used to sell all kinds of products and services specifically targeted to us.
  </p>
  <p>
    No one has direct control over these hidden systems that we interact with on a daily basis; in fact, very few actually have full awareness of the industry churning behind their browsers. This is by design, as the really necessary information that you need before interacting with the web is often buried in endless privacy policies. Consent is taken as the tiny bar that flashes at the bottom of your screen every time you open a website- ‘We collect cookies for improving your browsing experience’.
  </p>
  <p>
    The problem with this process lies not in its ability to sell us foot cream we like but in the ease with which all this data can be accessed and exploited, by any person, regardless of their motivations. How do you protect yourself from being deliberately influenced to vote a certain way? How can you prevent biases and hate related to your identity from being covertly spread online? What if one day you find a malicious website selling a tracker that constantly points to your exact geographical location? In case this wasn’t clear yet, this is happening in the world right now, maybe not to you yet, but by abusing the very tabs you have open along with this one.
  </p>
  <p>
    Awareness about dark data is improving, and governments are scrambling to regulate the behemoth; but data harvesting is too profitable a process, with enough power to keep itself kicking. Amid a global pandemic that discourages social connection, the use of the internet has become essential to function in society. This effectively catalyzes the vicious cycle, even knowledge of the architecture behind the internet cannot help you avoid using it.
    
    This publication seeks to shift focus from talking about Dark Data to exerting agency over its meanderings; to empower readers to navigate the web while being more aware of its nature and explore ways they can shield themselves from it. Through reading this collection of articles, we hope readers are informed about the deliberately incongruous practice that is Dark Data, and that they gain strategies to investigate their own digital exhaust. Finally, we would spur readers to speculate more deliberate and balanced futures for themselves in a world powered by their own data.
  </p>
  <p>
    The three sections in this publication each focus on these core ideas of elucidation, investigation and speculation about Dark Data. Each article is a critical response by the author to a semester worth of rigorous conversations and explorations around this topic and its intricacies. We would like to equip you, the reader with the knowledge and tactics that allow you to actively rethink your experience online on your own terms.
  </p>
</article>

{% include categoryDrawer.html %}

{% include footer.html %}
