<div class="categoryDrawerContainer">
    {% for category in site.categories %}
      <div class="categoryDrawer">
    
        <div class="drawerButton">
    
            <div class="number">
              {{ forloop.index }}
            </div>
            <div class="name">
              Category ({{ category[0] }})
            </div>
            <div class="icon">
              <!-- added via css -->
            </div>
    
        </div>
    
        <div class="drawerContent">
    
          <div class="drawerContent-BorderTop"></div>
    
          {% for article in category[1] %}
    
            <a href="{{ site.baseurl }}{{ article.url }}" class="drawerArticle">
    
              <div class="drawerArticle-image">
                <!-- for dummy purposes -->
              </div>
    
              <h2>
                {{ article.title }}
              </h2>
              <h4>
                by {{ article.author }}
              </h4>
    
              <!-- Does not seem to be needed so far
              {% if article.desc %}
                <p> — {{ article.desc | markdownify }}</p>
              {% endif %}
              -->
    
            </a>
    
          {% endfor %}
    
        </div>
    
      </div>
    {% endfor %}
</div>