// For articles

article {
  padding-bottom: 3rem !important;


  
  blockquote {
    margin: 1rem auto;
    border-left: 5px solid $color-highlight;
  
    p {
      @include quote;
      padding-left: 2em;
      // max-width: 840px;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;

    &.vertical {
      width: auto;
      max-height: 600px;
    }
  }

  caption {
    @include caption;
    display: block;
    margin: 0.5rem auto;
  }

  iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  
  ol,
  ul {

    padding: 1rem 0;

    li {

      padding: 1rem 0 1rem 50px;
      border-bottom: solid 2px $color-black;

      &::before {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        background: url(assets/img/list-point.png);
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        image-rendering: pixelated;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  ol {
    list-style-type: decimal-leading-zero;
    padding-left: 2rem;

    li {
      padding-left: 0.5rem;
      border-bottom: none;


      &::before {
        background: none;
        left: -2rem;
        top: 50%;
        width: calc( 100% + 2rem );
        height: calc( 100% + 2px );
        border-bottom: solid 2px $color-black;
        pointer-events: none;
      }

      &:last-child {
        &::before {
          border: none;
        }
      }
    }
  }

  a.footnote {
    font-weight: 700;
    border: none;
  }
  
  .footnotes ol,
  .references-list {
    @include smallText;
    list-style-type: decimal-leading-zero;
    padding-left: 2em;

    li {
      padding: 0;
      border-bottom: none;
      margin-bottom: 0.5em;
      padding-left: 1em;
      word-wrap: break-word;

      &::before {
        display: none;
      }
    }
  }

  .footnotes ol {
    list-style-type: decimal-leading-zero;
  }

  .source {
    font-size: 0.75em;
    color: $color-gray;
  }
}
