// overarching

* {
  position: relative;
  box-sizing: border-box;
  z-index: 2; // Set default to 2 to have the BG at 0
}

::selection {
  background-color: $color-highlight;
  color: $color-white;
}

html {
  @include body( $color-font-reg );
  background: $color-bg;
}

//h1 -> article title
h1 {
  @include title;
  margin-bottom: 0.2em;

  &::first-line {
    text-align: right;
  }
}

//h3 -> article byline;
h3 {

  // color: $color-highlight;
  display: flex;
  align-items: center;
  @include byline;
  margin-bottom: 1em;

  &:after {
    content: '';
    display: block;
    background:$color-highlight;
    height: 0.1em;
    width: auto;
    flex: 1;
    margin-left: .4em;
  }
}

// E.g. references
h5 {
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.4rem
}

//p -> article body
p {
  
}

p + p {
  margin-top: 1em;
}

a {
  color: currentColor;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: solid 1px currentColor;

  &:hover {
    border: none;
  }
}

#backgroundDither {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  opacity: 0.2;
  image-rendering: pixelated;

  // background-color: $color-highlight;
  // background-blend-mode: screen;
  background-image: url(assets/img/dither_bg.gif);
}

#wrapper {
  position: fixed;
  top: $size-navigation;
  left: 0;
  right: 0;
  height: calc( 100vh - #{$size-navigation} );
  padding-top: 50px;
  overflow-x: hidden;
  overflow-y: scroll;
  // padding-top: 100px; // to make up for the navigation bar
}

.centerBlock {
  padding: $padding-default;
  max-width: $max-width;
  margin: 0 auto;
}


// Mobile adjustments
@media screen and (max-width: $break-mobile) {
  
}

// DarkMode adjustments
@media (prefers-color-scheme: dark) {
  
}
