#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid 3px $color-black;
    z-index: 10;
    // background: $color-bg;
    height: $size-navigation;

    .inner {
        display: flex;
        justify-content: space-between;
        padding: 0 $padding-default;
        height: 100%;

        .site-name {
            border: none;
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $color-black;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 700;

            &:hover {
                -webkit-text-stroke-color: $color-highlight;
                color: $color-highlight;
            }
        }

        ul {
            display: flex;
            height: 100%;

            li {

                height: 100%;

                a {
                    border: none;
                    padding: $padding-default;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: $color-highlight;
                    }
                }
            }
        }
    }
}

// Mobile adjustments

@media screen and (max-width: $max-width) {
    #nav {
        .inner {
            ul {
                display: none;
            }
        }
    }
}