#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid 3px $color-black;
    z-index: 10;
    background: $color-bg;
    height: $size-navigation;
    overflow: hidden;


    .inner {
        display: flex;
        justify-content: space-between;
        padding: 0 $padding-default;
        height: 100%;
        z-index: 9;

        .site-name {
            border: none;
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $color-black;
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 700;

            &:hover {
                -webkit-text-stroke-color: $color-highlight;
                color: $color-highlight;
            }
        }

        ul {
            display: flex;
            height: 100%;

            li {

                height: 100%;

                a {
                    border: none;
                    padding: $padding-default;
                    height: 100%;
                    display: flex;
                    align-items: center;

                    &:hover {
                        color: $color-highlight;
                    }
                }
            }
        }
    }
    .nav-bg {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 8;
        opacity: 0.2;
        image-rendering: pixelated;
      
        // background-color: $color-highlight;
        // background-blend-mode: screen;
        background-image: url(assets/img/dither_bg.gif);
      }
}

// Mobile adjustments

@media screen and (max-width: 960px) { // breakpoint for all elements
    #nav {
        .inner {
            ul {
                display: none;
            }
        }
    }
}