.site-name {
  border: none;
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: $color-black;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  z-index: 16;
  // transition: -webkit-text-stroke-color 0.25s;

  &:hover {
    -webkit-text-stroke-color: $color-highlight;
    color: $color-highlight;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 3px $color-black;
  z-index: 10;
  background: $color-bg;
  height: $size-navigation;
  overflow: hidden;

  .inner {
    display: flex;
    justify-content: space-between;
    padding: 0 $padding-default;
    height: 100%;
    z-index: 11;

    ul {
      display: flex;
      height: 100%;

      li {
        height: 100%;

        a {
          @include nav-link;
          border: none;
          padding: $padding-default;
          height: 100%;
          display: flex;
          align-items: center;

          @media screen and (max-width: $break-tablet-horizontal) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .nav-bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 8;
    opacity: 0.2;
    image-rendering: pixelated;
    background-image: url(assets/img/dither_bg.gif);
  }
}

//NAV MENU
.menu-top {
  height: $size-navigation;
  display: flex;
  justify-content: space-between;
  padding: 0 $padding-default;

  @media screen and (min-width: $break-mobile) {
    justify-content: flex-end;
  }
}

.nav-menu-btn, .nav-close-btn {
  display: block;
  width: 48px;
  height: 100%;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  cursor: pointer;
}

.nav-menu-btn {
  display: none;
  background-image: url(assets/icons/icon-menu.svg);
  background-size: 28px;

  &:hover {
    filter: $color-highlight-filter;
  }
}

.nav-close-btn {
  background-image: url(assets/icons/icon-close.svg);
  background-size: 23px;
  &:hover {
    filter: $color-highlight-filter-white;
  }
}

.nav-menu {
  width: 100%;
  height: 100vh;
  background: $color-black;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
  transform: translateX(520px);
  transition: transform 0.5s;
  color: $color-white;

  &.--isOpen {
    transform: translateX(0);
  }

  @media screen and (min-width: $break-mobile) {
    max-width: $break-mobile;
  }

  @media screen and (min-width: $break-desktop) {
    visibility: hidden;
  }
}

.nav-menu .site-name {
  -webkit-text-stroke-color: $color-white;
  padding: 0 $padding-default;

  &:hover {
    -webkit-text-stroke-color: $color-highlight;
  }

  @media screen and (min-width: $break-mobile) {
    display: none;
  }
}

.nav-menu-links {
  padding: $size-navigation 1.25rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;

  a {
    @include nav-link($color-white);
    font-size: 1.5rem;
  }
}

// Mobile adjustments

@media screen and (max-width: $break-desktop) {
  // breakpoint for all elements
  nav {
    .inner {
      ul {
        display: none;
      }
    }
  }

  .nav-menu-btn {
    display: grid;
  }
}
