

iframe.submission_currywurst {
    width: calc( 100vw -  #{$padding-default*2} );
    max-width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 1060px;

    @media screen and (max-width: (800px+$padding-default*2) ) {
        min-height: 1320px;
    }
}

iframe.submission_googleTakeout {
    width: 100%;
    height: 100vh;
}