@mixin title ($color: $color-black) {
  font-family: $font-highlight;
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 0.02em;
  line-height: 1em;
  color: $color;
}

@mixin byline ($color: $color-highlight) {
  font-family: $font-regular;
  font-weight: 400;
  font-size: 1.25rem;
  color: $color;
}

@mixin body ($color: $color-black) {
  font-family: $font-regular;
  font-weight: 400;
  font-size: 1rem; // 1 rem == body size
  color: $color;
}

@mixin smallText ($color: $color-black) {
  font-family: $font-regular;
  font-weight: 400;
  font-size: 0.875rem;
  color: $color;
}


@mixin category ($color: $color-black) {
  font-family: $font-regular;
  font-weight: 700;
  font-size: 2.5rem;
  color: $color;
}

@mixin nav-link ($color: $color-black) {
  font-family: $font-regular;
  font-weight: 400;
  font-size: 2.5rem;
  color: $color;
}