@mixin title ($color: $color-black) {
  font-family: $font-highlight;
  font-weight: 700;
  font-size: 3.5em;
  letter-spacing: 0.02em;
  line-height: 1em;
  color: $color;

  @media screen and (max-width: $break-mobile ) {
    font-size: 2em;
  }
}

@mixin sectionTitle ($color: $color-black) {
  font-family: $font-regular;
  font-weight: 700;
  font-size: 1.35em;
  letter-spacing: 0.02em;
  line-height: 1em;
  color: $color;
}

@mixin byline ($color: $color-highlight) {
  font-family: $font-regular;
  font-weight: 400;
  font-size: 1.25em;
  color: $color;
  @media screen and (max-width: $break-mobile ) {
    font-size: 1em;
  }

}

// aka overall main font
@mixin body ($color: $color-black) {
  font-family: $font-regular;
  font-weight: 400;
  font-size: $font-size-default; // 1 rem == body size
  line-height: 1.8;
  color: $color;
  font-feature-settings: "case", "calt", "liga";

  @media screen and (max-width: $break-mobile ) {
    font-size: $font-size-mobile;
  }
}

@mixin smallText ($color: $color-black) {
  font-family: $font-regular;
  font-weight: 400;
  font-size: 0.6em;
  color: $color;

  @media screen and (max-width: $break-mobile ) {
    font-size: 0.8em;
  }
}

@mixin category ($color: $color-black) {
  font-family: $font-regular;
  font-weight: 700;
  font-size: 2.5em;
  color: $color;

  @media screen and (max-width: $break-mobile ) {
    font-size: 1.5em;
  }
}

// ???
@mixin nav-link ($color: $color-black) {
  font-family: $font-regular;
  font-weight: 400;
  font-size: 1rem;
  color: $color;
  border-bottom: none;

  &:hover {
    color: $color-highlight;
  }
}

@mixin code () {
  font-family: $font-mono;
  font-weight: 400;
}

@mixin quote() {
  font-family: $font-regular;
  font-weight: 400;
  font-size: 0.9rem;
}

@mixin bibliography() {
  font-family: $font-highlight;
  font-weight: 600;
}

@mixin caption {
  font-family: $font-regular;
  font-size: 0.75rem;
  opacity: 0.8;
}