// Import Fonts

// Colors
$color-black: #000;
$color-white: #FFF;
$color-highlight: #3424F0;


// Colors — Light Mode
$color-bg: $color-white;

$color-font-reg: $color-black;

// Colors — Dark Mode
$color-dm-bg: $color-black;

$color-dm-font-reg: $color-white;

// Sizes
$padding-default: 10px;
$size-navigation: 56px;

$max-width: 860px;

// breaks
$break-mobile: 719px; // mobile

$font-mono: monospace;