// Fonts
$font-mono: monospace;
$font-regular: "Space Grotesk", sans-serif;
$font-highlight: "Minipax", serif;

// Colors
$color-black: #000;
$color-white: #FFF;
$color-highlight: #CD2020;


// Colors — Light Mode
$color-bg: $color-white;
$color-font-reg: $color-black;

// Colors — Dark Mode
$color-dm-bg: $color-black;
$color-dm-font-reg: $color-white;

// Sizes
$font-size-default: 22px;  // 1 rem
$font-size-mobile: 18px;

$padding-default: 10px;
$size-navigation: 56px;

$max-width: 860px;

// breaks
$break-mobile: 520px; // mobile